/* Rectangle 1 */

#header{
    width: 1643px;
    height: 648.57px;
    top: 47px;
    left: 38px;
    gap: 0px;
    opacity: 0px;
    border: 2px solid #000000    
    
}

.group2 {
    width: 1051px;
    height: 894px;
    top: 742px;
    left: 58px;
    gap: 0px;
    opacity: 0px;
    
}

.images {
    width: 962px;
    height: 77px;
    font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77.45px;
text-align: left;
color: black;

}

img {
    width: 1051px;
height: 762px;
top: 874px;
left: 58px;
gap: 0px;
opacity: 0px;

}

p {
    width: 245px;
height: 48px;
top: 1670px;
left: 58px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 48.41px;
text-align: left;

}

a {
    color:#000000;
}

#trivia {
    width: 1623px;
height: 469px;
top: 1795px;
left: 58px;
gap: 0px;
opacity: 0px;

}

ol {
    font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 48.41px;
text-align: left;
}

#top {
    width: 1423px;
    height: 648.57px;
    top: 47px;
    left: 38px;
    gap: 0px;
    border: 2px solid #000000;
    opacity: 0px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
    padding: 20px;

}

h1 {
    text-decoration: underline;
}

.The {
    font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 48.41px;
text-align: left;

}

.Beagle{
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;
    
}

.beagle {
    font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 700;
line-height: 48.41px;
text-align: left;

}

.readmore {
   margin-top: 70px;
}
.trivia {
    text-decoration: underline;
}